worker_processes WORKERS;
#user USER;
error_log  nginx-error.log;

events {
  worker_connections 1024;
}

http {
  include /usr/local/etc/nginx/mime.types;
  default_type text/plain;
  server_tokens off;
  sendfile on;
  tcp_nopush on;
  keepalive_timeout 1;
  gzip on;
  gzip_comp_level 2;
  gzip_proxied any;
  gzip_types text/plain text/css text/javascript application/json application/x-javascript text/xml application/xml application/xml+rss;
  index index.html;

  server {
    listen 8080;
    server_name localhost;
    root DOTFILES_ROOT/nginx;
  }

  include PROJECTS/*/.nginx;
}
